.TodoList {
  list-style-type: none;
  padding: 0;
}
.TodoList li {
  width: 200px;
  height: 20px;
  margin: 10px;
  border: 1px solid #222;
  padding: 10px 10px;
}
.TodoList li i {
  font-size: 14px;
  margin-right: 10px;
}